@model IEnumerable<briggs_Reviews.Models.Review>

@{
    ViewBag.Title = "ListOfReviewsByMovie";
}

<h2>Reviews for @ViewBag.MovieTitle</h2>

<table class="table">
    @foreach (var review in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => review.DateCreated)<br/>
                @Html.DisplayFor(modelItem => review.Content)
            </td>
        </tr>
    }
</table>


@Html.ActionLink("Add a Review", "Create", "Reviews", new { ID = ViewBag.ID }, null)
@Html.ActionLink("Return to move list", "ListMovies", "Movies")

